@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Poppins:wght@400;500;600&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
:root {
    --vibrant-color: #5cecbf ; 
    /* #f9f871*/
}

body {
    background-image: url("assets/bg_light.png");
    /* background-color: #0B153C;  */
    /* #0F1B4A;  */
    /* #101D52; */
}

* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa";
}

header {
    /* background-image: url("./assets/background.png"); */
    background-image: url("./assets/bg3.png");
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

nav {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;
}

.logo img {
    width: 64px;

}

.nav-items {
    display: flex;
    list-style: none;
    font-size: 20px;
    color: #ffffff;

    font-family: "Comfortaa";
    gap: 60px;
}

.nav-items {
    text-transform: capitalize;
}

.nav-items span {
    color: var(--vibrant-color);
    font-family: "Poppins";
    font-weight: 900;
    font-size: 20px;
}

.landing {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.landing p:first-child {
    color: var(--vibrant-color);
    font-family: "Poppins";
    font-weight: 900;
    font-size: 20px;
}

.landing h1:nth-child(2) {
    font-size: 70px;
    font-family: "Comfortaa";
    font-weight: 700; 
    color: #ffffff;
}

.landing h1:nth-child(3) {
    font-size: 60px;
    color: rgb(185, 185, 185);
}

.landing span {
    color: var(--vibrant-color);
}

.landing p:nth-child(4) {
    color: #ffffff;
    width: 500px;
    font-size: 20px;
    line-height: 35px;
}

.landing a {
    color: var(--vibrant-color);
    text-decoration: none;

    border: 1px solid var(--vibrant-color);
    width: fit-content;
    padding: 15px 40px;
    border-radius: 5px;
}

.about {
    /* background-color: #0B153C; */
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 60vw;

    /* padding: 50px 70px ; */

    color: #ffffff;
}
.about-center {
    background-image: url("./assets/bg_curve.svg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.about-heading h1 {
    font-weight: 700;
}

.nav-items a {
    text-decoration: none;
    color: #ffffff;
}

.about-heading span {
    color: var(--vibrant-color);
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content p {
    font-size: 20px;
    text-align: justify;
    font-family: "prompt";
    width: 50%;
    flex-shrink: 0;
    /* line-height: 30px; */
}

.about-content p span {
    color: var(--vibrant-color);
}

.img img {
    height: 350px;
    border-radius: 10px;
}

.chart {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center {
    display: flex;
    align-items: flex-end;
    height: 40vh;
}

footer {
    background-color: #060e2a;
    font-size: 20px;
    height: fit-content;
    width: 100vw;
    padding: 30px 0;
}

footer .content {
    text-align: center;
}

footer p {
    color: #ffffff;
}
footer a {
    text-decoration: none;
    color: var(--vibrant-color)
}

/* .blog-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blogs {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.latest-post {
    width: 50%;
    flex-shrink: 0;
}

.post {
    width: 20%;
    flex-shrink: 0;

}

.latest-post .blog-img img {
    width: 100%;
}

.latest-post .content {
    width: 100%;
    
    /* display: flex;
    flex-direction: column; 
}

.post .blog-img img {
    width: 100%;
}

.post .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
} */


/* START */
.band {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
   }
}
@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
   }
}
.card {
    background: #060E2A;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}
.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1 {
    font-size: 20px;
    margin: 0;
    color: #fff;
}
.card p {
    flex: 1;
    line-height: 1.4;
}
.card span {
    font-family: "prompt";
    font-weight: 400;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}
.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 60em) {
    .item-1 {
        grid-column: 1 / span 2;
   }
    .item-1 h1 {
        font-size: 24px;
   }
}

/* OVER */
